/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
  box-sizing: border-box;
}

/*
Colors used:
Background Color (Floral White): #fdf7ed;
Primary Color (Prussian Blue): #143a52 or rgb(20,58,82);
Secondary Color (Russet): #874c2d;
Highlight Color-1 (Pale Cerulean): #a1bbce;
Highlight Color-2 (Rosy Brown): #af8386 or rgb(175,131,134);
*/


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

header {
  text-align: unset;
  padding: 20px 0 13px;
}
nav {
width: auto;
float: right;
margin-top: -65px;
}
body {
  font-size: 18px;
}
.col-md-6 {
  width: 50%;
  margin-top: -20px;
}
.col-md-6-project {
  width: 50%;
  margin: 0 0 32px;
}
.col-md-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
}







/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-lg-3 {
    width: 25%;
}
.col-lg-4 {
    width: 33.33%;
}
.col-lg-5 {
    width: 41.66%;
}
.col-lg-7 {
    width: 58.33%;
    padding-bottom: 32px;
}
.col-lg-12 {
    width: 100%;
    margin-top: -18px;
}
.col-lg-12-skills {
    width: 100%;
    margin-top: -18px;
    float: left;
    padding: 0 20px 40px;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (min-width: 1920px) {
}



body {
  background-color: #fdf7ed;
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 400 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #143a52;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 2.75em;
  font-weight: 800;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 600;
}

h4 {
  font-size: 1.35em;
  font-weight: 500;
}



[class*="col-"] {
  float: left;
  width: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



  .poppins-regular, p,nav {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-style: normal;
  }
  .poppins-regular, ul {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 14px;
   font-style: normal;
  }

  a:hover {
    color: #AB1A79;
    text-decoration: underline; /* Underlining when hovering over a link */
  }

.button1 {
    background-color: #051539;
    color: white;
    text-transform: uppercase;
    border: 2px solid #051539;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    margin: 10px 0;
    transition-duration: 0.2s;
    transition-property: opacity;
  }


.button1:hover {
  opacity: 0.8;
}


 .button2 {
    background-color: #c1924d;
    color: white;
    text-transform: uppercase;
    border: 2px solid #c1924d
  }
  
  .projectimage {
    width: 100%;
  }

  .headshotimg {
      max-width: 450px;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 50%;
  }

.buttonposition {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.listtitle {
  text-align: left;
  padding-top: 10px;
}

/* Layout styling */

.container {
  padding: 20px 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 16px;
}


.row {
  margin: 25px 15px; /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

.aboutmetext {
  padding-top: 50px;
  line-height: ;
}


.skillstext {
  padding-top: 50px;
  padding-left: 50px;
}

.skillslist {
  padding-top: 30px;
  padding-left: 75px;
}

.skillsheader{
  padding-top: 30px;
  padding-left: 40px;
}
.logo {
  margin-left: 25px;
  margin-top: 25px;
  max-width: 150px;
 }
 
 image {
  width: 100%;
 }

 header {
  background-color: rgba(175, 131, 134, 0.8);
  padding: 10px 0 4px;
  position: relative;
  box-shadow: 0px 6px 10px 0px rgba(20,58,82,0.5);
 }

footer {
  background-color: #af8386;
  text-align: center;

}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #143a52;
  width: 100%;
  font-size: 16px;
  position: relative;
}


nav > ul > li {
  display: inline-block;
  margin: 15px;
  
}

.link {
  text-decoration: none;
  color: black;
}

a.link:visited {
  text-decoration: none;
  color: #051539;
}

a.link:hover {
  text-decoration: underline;
  color: #ab1a79;
}

a.link:after {
  text-decoration: none;
  color: grey
}

#hero {
  background-color: rgba(175, 131, 134, 0.5);
  padding-top: 30px;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}



.list {
  text-align: left;
}


  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

.animatedsvg {
  width: 100%;
  max-width: 100%;
  height: auto;
}





  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  .sun {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  .sun {
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes cloud-move {
    from {transform: translate(0,50px);}
    to {transform: translate(200px,50px);}
  }

  .cloud-front {
    animation-duration: 30s;
    animation-name: cloud-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }

  @keyframes cloud-move-reverse {
    from {transform: translate(446px,48px);}
    to {transform: translate(100px, 48px);}
  }
  
  .cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
  }